<p>Hello <%= @user.first_name %></p>
<p>We appreciate your interest in the <%= @job_application.job.title %> position and the time you've invested in applying. Regrettably, this time we've decided to move forward with another candidate. 
Still you can look for other jobs if interested in <a href="https://powerful-basin-09871.herokuapp.com/jobs"> Jobstantial</a></p>
<p>We are so sorry check this out it will make your day<a href="https://i.imgflip.com/3drnm4.png">link</a> my g</p>