<p>Hello <%= @user.first_name %></p>
<p>We appreciate your interest in the <%= @job_application.job.title %> position and the time you've invested in applying. Regrettably, we've decided to move forward with another candidate. 
We encourage you to keep looking for other job positions you might be interested in <a href="https://powerful-basin-09871.herokuapp.com/jobs"> Jobstantial</a>.</p>

<p>Best,</p> 
<p>Jobstantial</p>