<p>Hello <%= @user.first_name %></p>
<p>On behalf of Jobstantial, I'm pleased to send you an offer for the position of
<%= @job_application.job.title%>.</p>
<p>To see your offer go to <a href="https://jobstantial.herokuapp.com/job_applications">this page</a>.</p>

<p>Best,</p> 
<p>Jobstantial</p>