<h1>Welcome to Jobstantial</h1>
<p>Hello <%= @user.first_name %>, we have reviewed your application for 
    <%= @job_application.job.title %> and we would like to move forward in the 
    selection process. Here is a coding challenge, you can send the answer by
    replying to this email.
</p>
   <p>Best,</p> 
   <p>Jobstantial</p>
