<div class="container">
    <h2>Candidates</h2>
        <% @job.job_applications.each do |job_application| %>
            
            <div class="card-job_application">
                    <div class="card-job_application-infos">
                        <h2><%= job_application.user.first_name %></h2>
                        <p><%= job_application.status %></p>
                        <p><%= job_application.stage %></p>

                    </div>
            </div>
        <% end %>
    </div>