<h3>Please fill in the form</h3>

<div class="container-form-group">
    <form>
    <div class="form-group">
        <label for="exampleInputFirstName1">First Name</label>
        <input type="first_name" class="form-control" id="exampleInputFirstName1" aria-describedby="emailHelp" placeholder="Enter your first name">
    </div>
    <div class="form-group">
        <label for="exampleInputLastName1">Last Name</label>
        <input type="last_name" class="form-control" id="exampleInputLastName1" aria-describedby="emailHelp" placeholder="Enter your last name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputYearsOfExperience1">Years of experience</label>
        <input type="YearsOfExperience" class="form-control" id="exampleInputYearsOfExperience1" placeholder="Please enter a number">
    </div>
    <div class="form-group">
        <label for="exampleInputYearsOfExperience1">Availability</label>
        <input type="YearsOfExperience" class="form-control" id="exampleInputYearsOfExperience1" placeholder="Morning/Day/Night Shift">
    </div>
    <div class="form-group">
        <label for="exampleInputCV1">CV</label>
        <input type="CV" class="form-control" id="exampleInputCV1" placeholder="Upload Document">
    </div>

    <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>
