<div class="home-container">
    <div class="container">
        <h1>Welcome to <span class="blue">Jobstantial</span>  where Laraisthebest</h1>
        <h2>LaraisthebestLaraisthebestLaraisthebestLaraisthebestLaraisthebestLaraisthebest</h2>
    </div>

    <div class="container flex-container">
        <%= link_to "Find jobs", jobs_path %>
        <%= link_to "Create your account", new_user_registration_path %>
    </div>
</div>
