<div class="home-container">
    <div class="container">
        <h1>Welcome to <span class="blue">Jobstantial</span></h1>
        <h3>Jobstancialcommits to find you consistent work with renowned companies for you to enjoy professional stability</h3>
        </div>

    <div class="container flex-container">
        <%= link_to "Find jobs", jobs_path %>
        <%= link_to "Create your account", new_user_registration_path %>
    </div>
</div>
    <div class="container flex-container">
        <div class="left-box">
            <h2>Find the perfect job</h2>
            <h3>Generate a stable income working in prestigious companies that search for professionals with expertise & experience like yours.</h3>
            <%= link_to "Get started >", jobs_path %>
        </div>
       <div class="right-box">
            <h2>Professional growth</h2>
            <h3>Each day, hundreds of companies post new openings in Jobstancial in every sector</h3>
            <%= link_to "Get started >", jobs_path %>
        </div>
    </div>

