// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-job h1 {
    text-align: center;
    padding: 15px;
    color: #1f97f5
}
.card-job {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .card-job h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #1f97f5
  }
  
  .card-job p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-job .card-job-infos {
    padding: 16px;
  }

  .job-show-container {
    margin-top: 100px;
    border: 1px solid rgb(229,229,229);
    width: 900px;
    
    .apply-button {
      margin-top: 36px;
      margin-bottom: 44px;
      text-align: center;
      a {
        font-size: 17px;
        color: white;
        background-color: rgb(31, 151, 245);
        padding: 17px;
        border-radius: 8px;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.12s;
        &:hover {
          background-color:rgb(75, 168, 238);
        }
      }
    }
  }