<div class="comment-form">
    <%=form_with model: @remark, local: true, url: job_application_remarks_path(@job_application), method: :post do |f|%>
        <div class="form-group">
            <%=f.label:content%>
            <%=f.text_field:content%>
        </div>
        <div class="form-group">
            <%= f.submit %>
        </div>  
    <% end %>
</div> 